# Dependencias de Node.js
node_modules/

# Variables de entorno
.env

# Archivos del sistema operativo
.DS_Store       # macOS
Thumbs.db       # Windows

# Logs
*.log

# Archivos de configuración de editores
.vscode/

# Archivos temporales del sistema
*.tmp
*.swp
